HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/


/old.martinmeer/
/src/main/resources/misc/testSQLQueries
/src/main/java/org/martinmeer/otkassistant/.env
/src/main/resources/misc/application-local.yml
/logs/
/.env
/src/main/java/org/martinmeer/otkassistant/mthread/service/MThrdInputNormalizer.java
/src/main/java/org/martinmeer/otkassistant/mthread/service/MThrdInputRefiner.java
/src/main/java/org/martinmeer/otkassistant/mthread/model/MThrdNSpace.java
/src/main/java/org/martinmeer/otkassistant/mthread/model/mThreadInputData.java
/src/main/java/org/martinmeer/otkassistant/mthread/service/MThreadMainService.java
/src/main/resources/.env
 # DB-loader build artifacts (ignore these in ALL branches)
/db-loader/target/
/db-loader/*.jar
/db-loader/.idea/
/db-loader/*.iml
# DB-loader config files with sensitive data
/db-loader/database.properties
/db-loader/.env
