<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="threadValueGen"
          class="org.martinmeer.otkassistant.engine.ThreadValueGen">

    </bean>


    <bean id="threadInputConv"
          class="org.martinmeer.otkassistant.io.TheadInputConverter">

    </bean>

    <bean id="dataMap"
          class="org.martinmeer.otkassistant.POJOparams.DataMap">

    </bean>

    <bean id="nomDiameter"
          class="org.martinmeer.otkassistant.POJOparams.m_thread.NomDiameter">

    </bean>
    <bean id="pitch"
          class="org.martinmeer.otkassistant.POJOparams.m_thread.Pitch">

    </bean>

</beans>